{% include "header.html" %}
<div class="container">
	<form action="/PostCreateHandler" method="post">
<div>
	<h4>postname</h4> 
	<input type="text" class="form-control" rows="3" name="name" placeholder="write your postname" style="width: 300px" required>
</div>
<div>
	<h4>Tag your posts</h4> 
	 <input type="text" class="form-control" placeholder="Tag1 Tag2" name="tags" style="width: 300px" required>
	
</div>
<div>
<!-- <h4>Add gift</h4>  -->
</div>

<button type="submit" class="btn btn-success">Create Post</button>
</form>

</div>

{% include "footer.html" %}