{% include "header.html" %}

<div class="container">
	<div class="timeline">
	{%for i in range(0,Postowned|length) %}
    <div class="timeline-item active">
        <div class="year"> {{Postowned[i].lastUpdateDate.year}}<span class="marker"><span class="dot"></span></span>
        </div>
        <div class="info">{{Postowned[i].name}}
        	<a href="/Post?postid={{Postowned[i].id}}">
			<img src="{{PostPreviewList[i]}}" align="middle" style="width:150px;height:100px"></a> 
		</div>

    </div>

  	{%endfor%}  
</div>
</div>


<!-- List your posts here in a timeline form -->




<!-- <div>SHow the timeline here</div>
<div>
	{%for i in range(0,Postowned|length) %}
		<div>post.name  is {{Postowned[i].name}}</div>
		<div>Preview pic is
		<a href="/Post?postid={{Postowned[i].id}}">
		<img src="{{PostPreviewList[i]}}" align="middle" style="width:150px;height:100px"></a> 
		</div>

	{%endfor%}
</div> -->


<div><a href="/PostCreate">Create a new post</a></div>



{% include "footer.html" %}