{% include "header.html" %}

<div class="container">
<form  action="/DeletePost" method="post">
	<div class="timeline">
	

	{%for i in range(0,Postowned|length) %}
	{%if i==0 %}
	<div class="timeline-item active">
	{%else%}
	<div class="timeline-item">
	{%endif%}
    <!-- <div class="timeline-item active"> -->
    <div class="row">
    <div class="col-md-4 col-xs-4"><div class="year"> {{Postowned[i].lastUpdateDate.month}}/{{Postowned[i].lastUpdateDate.year}}<span class="marker"><span class="dot"></span></span>
        </div>
        </div>
    <div class="col-md-8 col-xs-8">       
    <div class="info">
        <div align="middle"><font face="verdana" size="3">{{Postowned[i].name}}</font></div>
        <div align="middle"><a href="/Post?postid={{Postowned[i].id}}">
			<img src="{{PostPreviewList[i]}}" align="middle" style="width:150px;height:100px"></a> 
			</div>    	
		</div>
		<input type="checkbox" name="deleteCheckbox" value="{{Postowned[i].id}}">
		</div>
    </div>
    </div>

  	{%endfor%}
  	 
  	 <!-- <i class="glyphicon glyphicon-remove"></i>Delete Checked Post -->
  	 <!-- </button> -->
  	  
</div>
<div style="height:10px"></div>
<input type="submit" class="btn btn-danger pull-left" onclick="deletepost();" value="Delete Checked Post">
	</form>
	<br>
	

</div>
<div style="height:20px"></div>
<div class="container"><a href="/PostCreate"><button class="btn btn-primary">Create a new post</button></a></div>

<!-- List your posts here in a timeline form -->




<!-- <div>SHow the timeline here</div>
<div>
	{%for i in range(0,Postowned|length) %}
		<div>post.name  is {{Postowned[i].name}}</div>
		<div>Preview pic is
		<a href="/Post?postid={{Postowned[i].id}}">
		<img src="{{PostPreviewList[i]}}" align="middle" style="width:150px;height:100px"></a> 
		</div>

	{%endfor%}
</div> -->





{% include "footer.html" %}