{% include "header.html" %}

<script>
$( document ).ready(function() {
    console.log( "ready!" );
    var x = document.URL;
    //x = "https://www.utexas.edu"
    // console("STOP");
    document.getElementById("facebook").setAttribute("data-href",x);
    jQuery('#qrcode').qrcode(x);
    //document.getElementById("facebook").style = "color: red";
});

</script>




<div class="container">
<button id="postsave" class="glyphicon glyphicon-heart" style="color:grey" aria-hidden="true" onclick="PostSave({{postwant.id}})">{{postwant.savedCount}}</button>


<span id="commentnumber" class="glyphicon glyphicon-comment" aria-hidden="true">{{postwant.commentList|length}}</span>
<!-- <span id="postshare" class="glyphicon glyphicon-share" aria-hidden="true">{{postwant.sharetoSocialCount}}</span> -->
<!-- Share to social facebook -->
<div class="fb-share-button" id="facebook" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count"></div>


<div style="text-align: center"><h2>{{postwant.name}}</h2></div>
{% for i in range(0,giftImageList|length) %}
{{i}}
<a href="{{giftHyperinkList[i]}}">
<div><img style="max-width: 100%; max-height: 100%; display:block; margin:auto;" src="{{giftImageList[i]}}" height="200" width="300"></div>
</a>
<div><h4>{{giftArticleList[i]}}</h4></div>

<!-- {{giftHyperinkList[i]}} -->

{% endfor %}


<div class="row">
<div class="col-xs-8 col-md-4">
{%if OwnerLogin %}
<!-- <a href="/GiftAdd?postid={{postwant.id}}"> -->
<a href="/GiftAdd/{{postwant.id}}">
<button type="button" class="btn btn-success">Add more gifts</button>
</a>
<!-- <form action="/GiftAdd?'postid={{postwant.id}}" method="post"> -->
{%endif%}
</div>
	<div class="col-xs-4 col-md-4"><h3 style="text-align:center">Share with QRcode!</h3></div>
	</div>
	<div class="row"><div class="col-xs-6 col-md-4"></div>
	<div class="col-xs-4 col-md-4"><div id="qrcode"></div></div>
</div>
<div></div>

<!-- <div class="col-xs-6 col-md-4">
{%if OwnerLogin %}
<a href="/GiftAdd?postid={{postwant.id}}">
<button type="button" class="btn btn-success">Add more gifts</button>
</a>
<!-- <form action="/GiftAdd?'postid={{postwant.id}}" method="post">
{%endif%}
</div> -->

<hr>
<h3>Comments</h3>
<div id="commentlist">
{%for i in range(postwant.commentList|length-1,-1,-1)%}
<!-- <li> -->
<div class="row">
<div class="col-xs-12 col-md-8">
		<h4><small>{{postwant.commentList[i].creator}} {{commentTimeList[i]}}</small></h4>
		
		<div>{{postwant.commentList[i].content}}</div>
		
		
		<hr>
</div>
	</div>
<!-- </li> -->

{% endfor %}
</div>

{%if user %}
<div class="row">
<div class="col-xs-6 col-md-4">
<!--  -->
<form id="commentform" action="/AddComment?postid={{postwant.id}}" method="post" name="commentform">
<!-- action="/AddComment?postid={{postwant.id}}" method="post" -->
<textarea id="comment" type="text" placeholder="Leave your comments here" name="comment"></textarea>
<div>
	<!-- <button id="commentsubmit" type="submit" onclick="AddComment();" class="btn btn-success">Submit your comment</button> -->
</div>

<!-- 如果input type 不是 submit，也许可行 -->
</form>
<button id="commentsubmit" onclick="AddComment({{postwant.id}});" class="btn btn-success">Submit your comment</button>
</div>
</div>
{% endif %}

</div>

<div id="userid" style="display: none;">
{{user}}
</div>

{% include "footer.html" %}




